<!DOCTYPE html>
<!--[if lt IE 7]>     <html lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ja" class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" /><![endif]-->
  <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->

  <title>Page Name - Website Name</title>
  <meta name="description" content="" />
  <meta name="author" content="taku_nagai" />
  <meta name="copyright" content="Copyright(C) Your Name" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="../css/main.css" media="all" />
  <link rel="author" href="../info/profile.html" />

  <!-- respond.js を使わずに処理：http://tokkono.cute.coocan.jp/blog/slow/index.php/web-technology/best-practice-of-responsive-design/ -->
  <!--
<link rel="stylesheet" href="../css/base.css" media="all" />
  <link rel="stylesheet" href="../css/style.css" media="all and (min-width: 30em)" />
-->
  <!--[if (lt IE 9) & (!IEMobile 7)]><link rel="stylesheet" href="../style.css" media="all"><![endif]-->

  <!--<script src="//www.google.com/../js/gweb/analytics/autotrack.js" /></script>-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>


<body id="file_name" class="category_name rayout_pattern">
  <!--[if lt IE 8]><p class="chromeframe">お使いのブラウザはバージョンが古いため、サイトを快適にご利用いただけないかもしれません。特別な事情がなければ <a href="http://browsehappy.com/">ブラウザをアップデート</a>、もしくは、<a href="http://www.google.com/chromeframe/?redirect=true">Google Chrome Frame</a>（パフォーマンスの向上がはかれます）をインストールしてください。セキュリティ的にもサポートの切れた古いブラウザは危険です。常に最新のブラウザをお使いいただくことをおすすめいたします。</p><![endif]-->

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>

  <div id="container">

    <div id="wrapper">


      <div id="main" role="main">


        <article>

          <header class="article_header">
            <h1 class="article_title">ボタン、ラベル、アラート</h1>
          </header>


          <div class="article_body">

            <section>
              <h2>ボタン New</h2>
              <ul>
                <li>SVG（ここではグレースケールのRGBA）で立体感を出したボタン。透過グレーグラデーションなので地色は何でもO.K.</li>
                <li>参考元：<a href="http://terkel.jp/archives/2012/11/gradients-and-borders-using-grayscale-rgba/">http://terkel.jp/archives/2012/11/gradients-and-borders-using-grayscale-rgba/</a></li>
                <li>ボタンのデザインは <a href="http://css3button.net/">CSS3 Button Generator</a> などで直感的に調整できる。</li>
                <li><a href="http://code.google.com/p/svg-edit/">SVC作成ツール svg-edit</a>（demoでも作れる）</li>
                <li>★★IE8対応にこれにCSSハックでIE8以下のみ画像読み込ませる方法はいいかも。<a href="http://code-plus.jp/css-and-css3/bg-svg-with-png-fallback/">IE9未満はpng、それ以外はsvgを表示</a></li>
              </ul>

              <h3>button タグ</h3>
              <h4>種類</h4>
              <button class="button">button.button</button>
              <button class="button_colored">.button_colored</button>
              <button class="button_strong">.button_strong</button>
              <button class="button_round">.button_round</button>
              <h4>小さいボタン</h4>
              <button class="button small">.button.small</button>
              <button class="button_colored small">.button_colored.small</button>
              <button class="button_strong small">.button_strong.small</button>
              <button class="button_round small">.button_round.small</button>
              <h4>大きいボタン</h4>
              <button class="button large">.button.large</button>
              <button class="button_colored large">.button_colored.large</button>
              <button class="button_strong large">.button_strong.large</button>
              <button class="button_round large">.button_round.large</button>
              <h4>選択状態</h4>
              <button class="button selected">button.selected</button>
              <button class="button_colored selected">.button_colored.selected</button>
              <button class="button_strong selected">.button_strong.selected</button>
              <button class="button_round selected">.button_round.selected</button>
              <h4>Disable</h4>
              <button class="button disabled">.button.disabled</button>
              <button class="button_colored disabled">.button_colored.disabled</button>
              <button class="button_strong disabled">.button_strong.disabled</button>
              <button class="button_round disabled">.button_round.disabled</button>
              <h4>幅いっぱい</h4>
              <button class="button fullwidth">.button.fullwidth</button>
              <button class="button_colored fullwidth">.button_colored.fullwidth</button>
              <button class="button_strong fullwidth">.button_strong.fullwidth</button>
              <button class="button_round fullwidth">.button_round.fullwidth</button>

              <h3>a タグ</h3>
              <a href="#" class="button">a.button</a>
              <a href="#" class="button_colored">a.button_colored</a>
              <a href="#" class="button_strong">a.button_strong</a>
              <a href="#" class="button_round">a.button_round</a>
              <a href="http://google.com/" class="button_colored">外部サイト</a>

              <h3>補足付きボタン</h3>
              <button class="button large">.button.large<small>補足説明が入ります(small)</small></button>
              <button class="button_colored large">.button_colored.large<small>補足説明が入ります(small)</small></button>
              <button class="button_strong large">.button_strong.large<small>補足説明が入ります(small)</small></button>
              <button class="button_round large">.button_round.large<small>補足説明が入ります(small)</small></button>

              <h3>ボタングループ 横並び</h3>
              <div class="button_group">
                <button class="button">First</button>
                <button class="button">Middle</button>
                <button class="button">Last</button>
              </div>

              <div class="button_group">
                <button class="button selected">Selected</button>
                <button class="button">Enabled</button>
                <button class="button disabled">Disabled</button>
              </div>

              <h3>ボタングループ 縦並び</h3>
              <div class="button_group_vertical">
                <button class="button">First</button>
                <button class="button">Middle</button>
                <button class="button">Last</button>
              </div>

              <div class="button_group_vertical">
                <button class="button selected">Selected</button>
                <button class="button">Enabled</button>
                <button class="button disabled">Disabled</button>
              </div>
            </section>

            <h3>アイコンWebフォントとの併用</h3>
            <button class="button"><i class="icon-information_white"></i> もっと詳しく</button>
            <button class="button_colored large"><i class="icon-mail"></i> メールを送る</button>
            <button class="button large"><i class="icon-list icon2x"></i> 一覧を見る</button>
            <button class="button_strong large"><i class="icon-download icon2x"></i> ダウンロード<small>Zip(25.6KB)</small></button>


            <section>
              <h2>ラベル</h2>
              <p>
                ラベルのサンプル<span class="label">ラベル</span>です。<br />
                <span class="label">span.label</span>
                <a href="../index.html"><span class="label">リンク付き</span></a>
                <span class="label_red">span.label_red</span>
                <span class="label_orange">span.label_orange</span>
                <span class="label_yellow">span.label_yellow</span>
                <span class="label_green">span.label_green</span>
                <span class="label_blue">span.label_blue</span>
                <span class="label_color1">span.label_color1</span>
              </p>
            </section>



            <section>
              <h2>アラート(h2)</h2>

              <h3>一行単位（p要素）</h3>
              <section>
                <p class="alert">アラートが表示されます。</p>
                <p class="alert strong">アラートが表示されます。</p>
              </section>

              <h3>ブロック単位（section要素、div要素）</h3>
              <section class="alert">
                <ul>
                  <li>アラートが表示されます。</li>
                  <li>アラートが表示されます。</li>
                </ul>
              </section>
              <div class="alert">
                <ul>
                  <li>アラートが表示されます。</li>
                  <li>アラートが表示されます。</li>
                </ul>
              </div>
            </section>


          <!--/.article_body-->
          </div>


        </article>


      <!-- /#main -->
      </div>

    <!-- /#wrapper -->
    </div>


  <!-- /#container -->
  </div>

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>



  <!-- * * * * * * * * * * * * * Scripts * * * * * * * * * * * * * -->
  <!-- ★★本番アップ時は plugins.js に統合する -->
  <!-- ★★より軽量のzepto.js を使う手もある 比較記事：http://openweb.co.jp/2013/01/17/jquery-2-0-size-compared/ -->
  <!-- jQuery1.9で廃止された機能の影響で動かないプラグインなどがある場合は http://code.jquery.com//jquery-migrate-git.min.js を追加-->
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="../js/plugins.js"></script>
  <script src="../js/main.min.js"></script>

  <script>
    //Androidの場合のみ iscroll-lite.js を読みこませる
    if(/Android/.test(navigator.userAgent)){
      $('script').attr('src','../js/vendor/iscroll-lite.js').appendTo('head');
      //alert('テスト：iscroll-lite.jsを読み込みました。');
    }
  </script>


  <!-- * * * Polyfils for old IE * * * -->

  <!--[if IE 9]>
  <script src="../js/vendor/PIE_IE9.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        //$('.class_name').each(function() { PIE.attach(this); }); //★★適用させたい要素を指定
      }
    });
  </script>
  <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="../js/vendor/selectivizr-min.js"></script>
  <script src="../js/vendor/respond.min.js"></script>
  <script src="../js/vendor/PIE_IE678.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        $('.button, .label, article h2, .pagetop a').each(function() { //★★適用させたい要素を指定
          PIE.attach(this);
        });
      }
    });
  </script>
  <![endif]-->

  <!--[if lte IE 7]>
  <script src="../js/vendor/imgSizer/imgSizer_min.js"></script>
  <script src="../js/vendor/minmax-1.0.min.js"></script>
  <![endif]-->


  <!--[if IE 6]>
  <script src="../js/vendor/jquery.exfixed-1.3.2.js"></script>
  <script>
    $(function(){
      $('#modal_window_boxes .modal_window_window').exFixed(); //★★適用させたい要素を指定
    });
  </script>
  <![endif]-->

</body>
</html>
