<!DOCTYPE html>
<!--[if lt IE 7]>     <html lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ja" class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" /><![endif]-->
  <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->

  <title>Page Name - Website Name</title>
  <meta name="description" content="" />
  <meta name="author" content="taku_nagai" />
  <meta name="copyright" content="Copyright(C) Your Name" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="../css/main.css" media="all" />
  <link rel="author" href="../info/profile.html" />

  <!-- respond.js を使わずに処理：http://tokkono.cute.coocan.jp/blog/slow/index.php/web-technology/best-practice-of-responsive-design/ -->
  <!--
<link rel="stylesheet" href="../css/base.css" media="all" />
  <link rel="stylesheet" href="../css/style.css" media="all and (min-width: 30em)" />
-->
  <!--[if (lt IE 9) & (!IEMobile 7)]><link rel="stylesheet" href="../style.css" media="all"><![endif]-->

  <!--<script src="//www.google.com/../js/gweb/analytics/autotrack.js" /></script>-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>


<body id="file_name" class="category_name rayout_pattern">
  <!--[if lt IE 8]><p class="chromeframe">お使いのブラウザはバージョンが古いため、サイトを快適にご利用いただけないかもしれません。特別な事情がなければ <a href="http://browsehappy.com/">ブラウザをアップデート</a>、もしくは、<a href="http://www.google.com/chromeframe/?redirect=true">Google Chrome Frame</a>（パフォーマンスの向上がはかれます）をインストールしてください。セキュリティ的にもサポートの切れた古いブラウザは危険です。常に最新のブラウザをお使いいただくことをおすすめいたします。</p><![endif]-->

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>

  <div id="container">

    <div id="wrapper">


      <div id="main" role="main">


        <article>

          <header class="article_header">
            <h1 class="article_title">コード</h1>
            <p class="lead">Google Prettify 使用。要 prettyPrint(); 実行</p>
          </header>


          <div class="article_body">


            <section>
              <h2>コード(h2)</h2>
              <p>ブロックで使う場合はインデントを反映させるため、タブや改行をそのまま表示できるpre要素で囲む。マークアップで使われる "&lt;" や "&gt;"などは、実体参照（エンティティとも言う）で記述する。(p)</p>
              <h3>p>code</h3>
              <p>インライン中で使う例 → <code>&lt;html&gt;</code> ← codeタグで囲まれてる。ブロックで使う場合はインデントを反映させるため、タブや改行をそのまま表示できるpre要素で囲む。マークアップで使われる "&lt;" や "&gt;"などは、実体参照（エンティティとも言う）で記述する。</p>

              <h3>pre>code</h3>
<!--code-->
<pre><code class="language_css">/*pre>code.language-css*/
p.notes {
    font-size: 0.8em;
}</code></pre>
<!--/code-->

              <h3>figure をつかった例(h3)</h3>
              <p>CSS3では角丸を表現するプロパティが追加されました。</p>
              <figure>
                <figcaption>figure>figcaption 角丸にするborder-radiusプロパティの使用方法</figcaption>
<!--code-->
<pre><code class="language_css">/*figre>pre>code.language-css*/
p.notes {
    font-size: 0.8em;
}</code></pre>
<!--/code-->
              </figure>
              <p>また、その他にもグラデーションやボックスシャドウなど多数のプロパティが追加されています。</p>

              <h3>Google Prettifier を使用してシンタックスハイライト</h3>
              <p>code タグのクラスに language_html のように言語指定。目立たせたい箇所は mark タグで囲む</p>
<!--code-->
<pre class="prettyprint"><code class="language_html">&lt;!--HTML--&gt;
&lt;head&gt;
  &lt;title&gt;タイトルです&lt;/title&gt;
  &lt;script src=&quot;js/prettify/prettify.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
  <mark>&lt;link href=&quot;js/prettify/prettify.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;</mark>
  &lt;link href=&quot;js/prettify/sunburst.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;/&gt;
&lt;/head&gt;
</code></pre>
<!--/code-->

<!--code-->
<pre class="prettyprint"><code class="language_javascript">&lt;script&gt;
$(function(){
  $('textarea').keyup(function(){
  var counter = $(this).val().length;
  $('#countUp').text(counter);
  if(counter === 0){
    $("#countUp").text('0');
  }
  if(counter >= 10){
    $('#countUp').css('color', 'red');
  }
  else {
    $('#countUp').css('color', '#333');
  }
  });
});
&lt;/script&gt;
</code></pre>
<!--/code-->

              <p>クラス"linenums"を付けると、行番号を表示する</p>
<!--code-->
<pre class="prettyprint linenums"><code class="language_scss">//参考：CSS3 Button Generator - http://css3button.net/
/*基本*/
.button {
  display: inline-block;
  margin: 0.5em 0;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.4);
  color: #333;
  text-shadow:
    0px -1px 0px rgba(0,0,0,0.4),
    0px 1px 0px rgba(255,255,255,0.3);//横ズレ、下ズレ、ぼかし幅、影の色（複数指定可）
  text-decoration: none !important;
  -webkit-user-select:none;-moz-user-select:none;
  -ms-user-select:none;user-select:none;
  @include rounded-corners(5px);//角丸半径
  @include vgradient(#FFF,#CCC);//開始色、終了色
  @include box-shadow-button;
  &:hover,&:focus {//ロールオーバー
    @include vgradient(#CCC,#999);
    color: #333 !important;
  }
  &:active {
    @include box-shadow-inner(0,1px,4px,rgba(0, 0, 0, 0.5));
  }
}</code></pre>
<!--/code-->
            </section>


            <section>
              <h2>コードの引用</h2>
              <p>Google prettify 使用</p>

              <blockquote cite="http://site-url.com/article-name.html">
<!--code-->
<pre class="prettyprint linenums"><code class="language-scss">//引用中のコード表示
/*基本*/
.button {
  display: inline-block;
  margin: 0.5em 0;
  padding: 5px 10px;
}</code></pre>
<!--/code-->
                <p>引用がここに入ります。引用は属性"cite"に引用元サイトのURLをセットします。引用がここに入ります。引用がここに入ります。引用がここに入ります。引用がここに入ります。（blockquote>p）</p>
                <small><a href="http://site-url.com/article-name.html">引用元タイトルがここに入ります - 引用元サイト名（blockquote>small）</a></small>
              </blockquote>

              <p>文中に入れるインラインの引用は"q"タグに。これも属性"cite"に引用元サイトのURLをセット。→<q cite="http://site-url.com/article-name.html">引用です(qタグ)。</q>←ここまで引用。</p>
            </section>


          <!--/.article_body-->
          </div>


        </article>


      <!-- /#main -->
      </div>

    <!-- /#wrapper -->
    </div>


  <!-- /#container -->
  </div>

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>



  <!-- * * * * * * * * * * * * * Scripts * * * * * * * * * * * * * -->
  <!-- ★★本番アップ時は plugins.js に統合する -->
  <!-- ★★より軽量のzepto.js を使う手もある 比較記事：http://openweb.co.jp/2013/01/17/jquery-2-0-size-compared/ -->
  <!-- jQuery1.9で廃止された機能の影響で動かないプラグインなどがある場合は http://code.jquery.com//jquery-migrate-git.min.js を追加-->
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="../js/plugins.js"></script>
  <script src="../js/main.min.js"></script>

  <script>
    //Androidの場合のみ iscroll-lite.js を読みこませる
    if(/Android/.test(navigator.userAgent)){
      $('script').attr('src','../js/vendor/iscroll-lite.js').appendTo('head');
      //alert('テスト：iscroll-lite.jsを読み込みました。');
    }
  </script>


  <!-- * * * Polyfils for old IE * * * -->

  <!--[if IE 9]>
  <script src="../js/vendor/PIE_IE9.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        //$('.class_name').each(function() { PIE.attach(this); }); //★★適用させたい要素を指定
      }
    });
  </script>
  <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="../js/vendor/selectivizr-min.js"></script>
  <script src="../js/vendor/respond.min.js"></script>
  <script src="../js/vendor/PIE_IE678.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        $('.button, .label, article h2, .pagetop a').each(function() { //★★適用させたい要素を指定
          PIE.attach(this);
        });
      }
    });
  </script>
  <![endif]-->

  <!--[if lte IE 7]>
  <script src="../js/vendor/imgSizer/imgSizer_min.js"></script>
  <script src="../js/vendor/minmax-1.0.min.js"></script>
  <![endif]-->


  <!--[if IE 6]>
  <script src="../js/vendor/jquery.exfixed-1.3.2.js"></script>
  <script>
    $(function(){
      $('#modal_window_boxes .modal_window_window').exFixed(); //★★適用させたい要素を指定
    });
  </script>
  <![endif]-->

</body>
</html>
