<!DOCTYPE html>
<!--[if lt IE 7]>     <html lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ja" class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" /><![endif]-->
  <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->

  <title>Page Name - Website Name</title>
  <meta name="description" content="" />
  <meta name="author" content="taku_nagai" />
  <meta name="copyright" content="Copyright(C) Your Name" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="../css/main.css" media="all" />
  <link rel="author" href="../info/profile.html" />

  <!-- respond.js を使わずに処理：http://tokkono.cute.coocan.jp/blog/slow/index.php/web-technology/best-practice-of-responsive-design/ -->
  <!--
<link rel="stylesheet" href="../css/base.css" media="all" />
  <link rel="stylesheet" href="../css/style.css" media="all and (min-width: 30em)" />
-->
  <!--[if (lt IE 9) & (!IEMobile 7)]><link rel="stylesheet" href="../style.css" media="all"><![endif]-->

  <!--<script src="//www.google.com/../js/gweb/analytics/autotrack.js" /></script>-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>


<body id="file_name" class="category_name rayout_pattern">
  <!--[if lt IE 8]><p class="chromeframe">お使いのブラウザはバージョンが古いため、サイトを快適にご利用いただけないかもしれません。特別な事情がなければ <a href="http://browsehappy.com/">ブラウザをアップデート</a>、もしくは、<a href="http://www.google.com/chromeframe/?redirect=true">Google Chrome Frame</a>（パフォーマンスの向上がはかれます）をインストールしてください。セキュリティ的にもサポートの切れた古いブラウザは危険です。常に最新のブラウザをお使いいただくことをおすすめいたします。</p><![endif]-->

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>

  <div id="container">

    <div id="wrapper">


      <div id="main" role="main">


        <article>

          <header class="article_header">
            <h1 class="article_title">フォーム</h1>
          </header>


          <div class="article_body">


            <section>
              <h2>フォーム(h2)</h2>
              <p>説明が入ります。(p)</p>

              <fieldset>
                <legend>グループのタイトル(fieldset>legend)</legend>
                <form>
                  <p>
                    <label for="text_field"><i class="icon-pen"></i> テキストフィールド</label>
                    <input id="text_field" type="text" />
                  </p>
                  <p>
                    <label for="text_area"><i class="icon-pen"></i> テキストエリア</label>
                    <textarea name="name" cols="30" rows="3">ここに入力して下さい。</textarea>
                  </p>
                  <p>
                    <label for="select_element"><i class="icon-pen"></i> セレクトボックス</label>
                    <select name="blood">
                      <option value="A">A型</option>
                      <option value="B">B型</option>
                      <option value="AB">AB型</option>
                      <option value="O">O型</option>
                    </select>
                  </p>
                  <p>
                    <label for="radio_buttons"><i class="icon-pen"></i> ラジオボタン</label>
                    <input class="radio" type="radio" name="radio_button" value="radio_1" /> ラジオボタン 1<br />
                    <input class="radio" type="radio" name="radio_button" value="radio_2" /> ラジオボタン 2<br />
                    <input class="radio" type="radio" name="radio_button" value="radio_3" /> ラジオボタン 3
                  </p>
                  <p>
                    <label for="checkboxes"><i class="icon-pen"></i> チェックボックス</label>
                    <input class="checkbox" type="checkbox" name="checkboxes" value="check_1" /> チェックボックス 1<br />
                    <input class="checkbox" type="checkbox" name="checkboxes" value="check_2" /> チェックボックス 2<br />
                    <input class="checkbox" type="checkbox" name="checkboxes" value="check_3" /> チェックボックス 3
                  </p>
                  <p>
                    <label for="password"><i class="icon-pen"></i> パスワード</label>
                    <input class="password" type="password" name="password" />
                  </p>
                  <p>
                    <label for="file"><i class="icon-pen "></i> ファイル送信</label>
                    <input class="file" type="file" name="file" />
                  </p>
                  <p class="align_center">
                    <button type="reset" class="button large">リセットする
                    <small>入力内容をクリア</small></button>
                    <button type="submit" class="button_colored large">入力内容を決定<small>確認画面へ</small></button>
                  </p>
                </form>
              </fieldset>

            </section>


          <!--/.article_body-->
          </div>


        </article>


      <!-- /#main -->
      </div>

    <!-- /#wrapper -->
    </div>


  <!-- /#container -->
  </div>

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>



  <!-- * * * * * * * * * * * * * Scripts * * * * * * * * * * * * * -->
  <!-- ★★本番アップ時は plugins.js に統合する -->
  <!-- ★★より軽量のzepto.js を使う手もある 比較記事：http://openweb.co.jp/2013/01/17/jquery-2-0-size-compared/ -->
  <!-- jQuery1.9で廃止された機能の影響で動かないプラグインなどがある場合は http://code.jquery.com//jquery-migrate-git.min.js を追加-->
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="../js/plugins.js"></script>
  <script src="../js/main.min.js"></script>

  <script>
    //Androidの場合のみ iscroll-lite.js を読みこませる
    if(/Android/.test(navigator.userAgent)){
      $('script').attr('src','../js/vendor/iscroll-lite.js').appendTo('head');
      //alert('テスト：iscroll-lite.jsを読み込みました。');
    }
  </script>


  <!-- * * * Polyfils for old IE * * * -->

  <!--[if IE 9]>
  <script src="../js/vendor/PIE_IE9.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        //$('.class_name').each(function() { PIE.attach(this); }); //★★適用させたい要素を指定
      }
    });
  </script>
  <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="../js/vendor/selectivizr-min.js"></script>
  <script src="../js/vendor/respond.min.js"></script>
  <script src="../js/vendor/PIE_IE678.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        $('.button, .label, article h2, .pagetop a').each(function() { //★★適用させたい要素を指定
          PIE.attach(this);
        });
      }
    });
  </script>
  <![endif]-->

  <!--[if lte IE 7]>
  <script src="../js/vendor/imgSizer/imgSizer_min.js"></script>
  <script src="../js/vendor/minmax-1.0.min.js"></script>
  <![endif]-->


  <!--[if IE 6]>
  <script src="../js/vendor/jquery.exfixed-1.3.2.js"></script>
  <script>
    $(function(){
      $('#modal_window_boxes .modal_window_window').exFixed(); //★★適用させたい要素を指定
    });
  </script>
  <![endif]-->

</body>
</html>
