<!DOCTYPE html>
<!--[if lt IE 7]>     <html lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ja" class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" /><![endif]-->
  <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->

  <title>Page Name - Website Name</title>
  <meta name="description" content="" />
  <meta name="author" content="taku_nagai" />
  <meta name="copyright" content="Copyright(C) Your Name" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="../css/main.css" media="all" />
  <link rel="author" href="../info/profile.html" />

  <!-- respond.js を使わずに処理：http://tokkono.cute.coocan.jp/blog/slow/index.php/web-technology/best-practice-of-responsive-design/ -->
  <!--
<link rel="stylesheet" href="../css/base.css" media="all" />
  <link rel="stylesheet" href="../css/style.css" media="all and (min-width: 30em)" />
-->
  <!--[if (lt IE 9) & (!IEMobile 7)]><link rel="stylesheet" href="../style.css" media="all"><![endif]-->

  <!--<script src="//www.google.com/../js/gweb/analytics/autotrack.js" /></script>-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>


<body id="file_name" class="category_name rayout_pattern">
  <!--[if lt IE 8]><p class="chromeframe">お使いのブラウザはバージョンが古いため、サイトを快適にご利用いただけないかもしれません。特別な事情がなければ <a href="http://browsehappy.com/">ブラウザをアップデート</a>、もしくは、<a href="http://www.google.com/chromeframe/?redirect=true">Google Chrome Frame</a>（パフォーマンスの向上がはかれます）をインストールしてください。セキュリティ的にもサポートの切れた古いブラウザは危険です。常に最新のブラウザをお使いいただくことをおすすめいたします。</p><![endif]-->

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>

  <div id="container">

    <div id="wrapper">


      <div id="main" role="main">


        <article>

          <header class="article_header">
            <h1 class="article_title">未★★グリッド状に並ぶレイアウト</h1>
            <p>高さを揃えるスクリプトを使う（実行が必要。function.js に記述？）。段違いでも全てのブロックの高さを揃えたい時は jquery.tile.js で</p>
            <p>分岐処理で、スマートフォンなど、1段になる時は、上記スクリプトは動かさないように</p>
            <p>スマートフォン表示時には、3段以下は1段、4段以上は2段になる。</p>
          </header>


          <div class="article_body">


						<section>
							<h2>段組レイアウト(h2)</h2>
							<h3>section使用 2段</h3>
							<div class="col_horizontal col2">
								<section class="col">
									<h1>見出し(.col_horizontal.col4>section.col>h1)</h1>
									<p>本文です(.col_horizontal.col4>section.col>p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<p>本文です。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。(p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<h2>見出し(h2)</h2>
									<p>本文です(p)</p>
								</section>
								<section class="col">
									<h1>見出し。ここに文章が入ります。(h1)</h1>
									<p>本文です(p)</p>
									<ul>
										<li>リスト項目1</li>
										<li>リスト項目2</li>
									</ul>
								</section>
							</div>
						</section>

						<section>
							<h2>段組レイアウト(h2)</h2>
							<h3>section使用 4段</h3>
							<div class="col_horizontal col4">
								<section class="col">
									<h1>見出し(.col_horizontal.col4>section.col>h1)</h1>
									<p>本文です(.col_horizontal.col4>section.col>p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<p>本文です。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。(p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<h2>見出し(h2)</h2>
									<p>本文です(p)</p>
								</section>
								<section class="col">
									<h1>見出し。ここに文章が入ります。(h1)</h1>
									<p>本文です(p)</p>
									<ul>
										<li>リスト項目1</li>
										<li>リスト項目2</li>
									</ul>
								</section>
							</div>

							<h3>サンプル_画像サムネイル風</h3>
							<p>★色々と問題</p>
							<div class="col_horizontal col4">
								<section class="col">
									<p><img src="../img_common/dummy_image.png" width="150" height="100" /></p>
									<p>説明文です</p>
								</section>
								<section class="col">
									<p><img src="../img_common/dummy_image.png" width="150" height="100" /></p>
									<p>説明文です説明文です説明文です</p>
								</section>
								<section class="col">
									<img src="../img_common/dummy_image.png" width="150" height="100" />
									<p>説明文です</p>
								</section>
								<section class="col">
									<img src="../img_common/dummy_image.png" width="150" height="100" />
									<p>説明文です</p>
								</section>
								<section class="col">
									<img src="../img_common/dummy_image.png" width="150" height="100" />
									<p>説明文です</p>
								</section>
								<section class="col">
									<img src="../img_common/dummy_image.png" width="150" height="100" />
									<p>説明文です</p>
								</section>
								<section class="col">
									<img src="../img_common/dummy_image.png" width="150" height="100" />
									<p>説明文です</p>
								</section>
								<section class="col">
									<img src="../img_common/dummy_image.png" width="150" height="100" />
									<p>説明文です</p>
								</section>
							</div>

							<h3>section使用 5段</h3>
							<div class="col_horizontal col5">
								<section class="col">
									<h1>見出し(.col_horizontal.col4>section.col>h1)</h1>
									<p>本文です(.col_horizontal.col4>section.col>p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<p>本文です。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。(p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<h2>見出し(h2)</h2>
									<p>本文です(p)</p>
								</section>
								<section class="col">
									<h1>見出し。ここに文章が入ります。(h1)</h1>
									<p>本文です(p)</p>
									<ul>
										<li>リスト項目1</li>
										<li>リスト項目2</li>
									</ul>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<p>本文です(p)</p>
								</section><section class="col">
									<h1>見出し(.col_horizontal.col4>section.col>h1)</h1>
									<p>本文です(.col_horizontal.col4>section.col>p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<p>本文です。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。(p)</p>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<h2>見出し(h2)</h2>
									<p>本文です(p)</p>
								</section>
								<section class="col">
									<h1>見出し。ここに文章が入ります。(h1)</h1>
									<p>本文です(p)</p>
									<ul>
										<li>リスト項目1</li>
										<li>リスト項目2</li>
									</ul>
								</section>
								<section class="col">
									<h1>見出し(h1)</h1>
									<p>本文です(p)</p>
								</section>
							</div>



							<div class="img_text_parallel">
							    <img class="img_area" src="http://wpdotorg.files.wordpress.com/2008/11/boat.jpg" alt="代替えテキスト" width="200" height="150" />
							    <p class="text_area">写真の下に文字が回り込まないレイアウトです。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。</p>
							</div>

							<h3>リスト使用 3段(h2)</h3>
							<div class="col_horizontal col3 img_text_parallel">
								<ul class="col_horizontal_inner">
									<li class="col">
  								  <p class="img_area"><a href="#"><img src="" alt="" width="175" height="250" /></a></p>
  								  <div class="text_area">
										  <h1>見出し(h1)</h1>
										  <p>本文です。本文です。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。(p)</p>
  								  </div>
									</li>
									<li class="col">
  								  <p class="img_area"><a href="#"><img src="" alt="" width="175" height="250" /></a></p>
  								  <div class="text_area">
										  <h1>見出し(h1)</h1>
										  <p>本文です。本文です。ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。(p)</p>
  								  </div>
									</li>
								</ul>
							</div>
						</section>


					<!--/.article_body-->
					</div>


        </article>


      <!-- /#main -->
      </div>

    <!-- /#wrapper -->
    </div>


  <!-- /#container -->
  </div>

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>



  <!-- * * * * * * * * * * * * * Scripts * * * * * * * * * * * * * -->
  <!-- ★★本番アップ時は plugins.js に統合する -->
  <!-- ★★より軽量のzepto.js を使う手もある 比較記事：http://openweb.co.jp/2013/01/17/jquery-2-0-size-compared/ -->
  <!-- jQuery1.9で廃止された機能の影響で動かないプラグインなどがある場合は http://code.jquery.com//jquery-migrate-git.min.js を追加-->
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="../js/plugins.js"></script>
  <script src="../js/main.min.js"></script>

  <script>
    //Androidの場合のみ iscroll-lite.js を読みこませる
    if(/Android/.test(navigator.userAgent)){
      $('script').attr('src','../js/vendor/iscroll-lite.js').appendTo('head');
      //alert('テスト：iscroll-lite.jsを読み込みました。');
    }
  </script>


  <script>
    //列ごとに高さを揃える。IE7/8も対応
    /* Equal Height Blocks in Rows by CHRIS COYIER(CSS Tricks)
    http://css-tricks.com/equal-height-blocks-in-rows/
    http://codepen.io/micahgodbolt/full/FgqLc
    It's been modified into a function called at page load and then each time the page is resized.
    One large modification was to remove the set height before each new calculation. */
    equalheight = function(container) {

      var currentTallest = 0,
        currentRowStart = 0,
        rowDivs = new Array(),
        $el,
        topPosition = 0;

      $(container).each(function() {

        $el = $(this);
        $($el).height('auto'); // added
        topPostion = $el.position().top;

        if (currentRowStart != topPostion) {

          // we just came to a new row.  Set all the heights on the completed row
          for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }

          // set the variables for the new row
          rowDivs.length = 0; // empty the array
          currentRowStart = topPostion;
          currentTallest = $el.height();
          rowDivs.push($el);
        }
        else {
          // another div on the current row.  Add it to the list and check if it's taller
          rowDivs.push($el);
          currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
        }
        // do the last row
        for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
          rowDivs[currentDiv].height(currentTallest);
        }
      });
    }

    // excute when the page is roaded/resized
    // 適用したい要素をセット
    $(window).load(function() {
      if($('body').width() >= 481){
        equalheight('.col_horizontal .col');
      }
    });
    $(window).resize(function() {
      if($('body').width() >= 481){
        equalheight('.col_horizontal .col');
      }
    });
  </script>


  <!-- * * * Polyfils for old IE * * * -->

  <!--[if IE 9]>
  <script src="../js/vendor/PIE_IE9.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        //$('.class_name').each(function() { PIE.attach(this); }); //★★適用させたい要素を指定
      }
    });
  </script>
  <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="../js/vendor/selectivizr-min.js"></script>
  <script src="../js/vendor/respond.min.js"></script>
  <script src="../js/vendor/PIE_IE678.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        $('.button, .label, article h2, .pagetop a').each(function() { //★★適用させたい要素を指定
          PIE.attach(this);
        });
      }
    });
  </script>
  <![endif]-->

  <!--[if lte IE 7]>
  <script src="../js/vendor/imgSizer/imgSizer_min.js"></script>
  <script src="../js/vendor/minmax-1.0.min.js"></script>
  <![endif]-->


  <!--[if IE 6]>
  <script src="../js/vendor/jquery.exfixed-1.3.2.js"></script>
  <script>
    $(function(){
      $('#modal_window_boxes .modal_window_window').exFixed(); //★★適用させたい要素を指定
    });
  </script>
  <![endif]-->

</body>
</html>
