<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>ページタイトル - サイトタイトル</title>
</head>


<body>
  <h1>Webページ 基本</h1>
  <ul>
    <li>HTML5, CSS3, SCSS(Sass), jQuery, Modernizr</li>
    <li>レスポンシブデザイン（481px以上 > 480px > 320px）</li>
    <li>旧IE用：selectivizr.js, imgSizer.js, PIE.js v2.0, jquery.exfixed.js(position:fixed 不具合解決用)</li>
  </ul>

  <ol>
    <li><a href="base.html">文書構造基本</a></li>
    <li><a href="button_label.html">ボタン、ラベル、アラート</a></li>
    <li><a href="code.html">コード</a></li>
    <li><a href="form.html">フォーム</a></li>
    <li><a href="framed_article.html">枠に囲まれた記事</a></li>
    <li><a href="grid_list_rayout.html">段組レイアウト</a></li>
    <li><a href="headers.html">見出し（ヘッダー）</a></li>
    <li><a href="hr.html">区切り線</a></li>
    <li><a href="jquery_plugins.html">基本jQueryプラグイン</a>（モーダルウインドウ、ツールチップ、デバッグ dump、font-awesome）</li>
    <li><a href="list.html">リスト</a></li>
    <li><a href="with_image.html">画像を含むレイアウト</a></li>
    <li><a href="responsive_grid_block.html">レスポンシブ。グリッド</a></li>
    <li><a href="responsive_rayout.html">レスポンシブ。グリッド</a></li>
    <li><a href="grid_list_rayout.html">レスポンシブ。グリッド</a></li>
    <li><a href="section.html">セクション</a></li>
    <li><a href="table.html">テーブル</a></li>
    <li><a href="text.html">テキスト</a></li>
    <li><a href="font_size_sample.html">フォントサイズ</a></li>
    <li><a href="responsive_switch.html">レスポンシブ無効に</a></li>
  </ol>
</body>

</html>