<!DOCTYPE html>
<!--[if lt IE 7]>     <html lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>        <html lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>        <html lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="ja" class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" /><![endif]-->
  <!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->

  <title>Page Name - Website Name</title>
  <meta name="description" content="" />
  <meta name="author" content="taku_nagai" />
  <meta name="copyright" content="Copyright(C) Your Name" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="../css/main.css" media="all" />
  <link rel="author" href="../info/profile.html" />

  <!-- respond.js を使わずに処理：http://tokkono.cute.coocan.jp/blog/slow/index.php/web-technology/best-practice-of-responsive-design/ -->
  <!--
<link rel="stylesheet" href="../css/base.css" media="all" />
  <link rel="stylesheet" href="../css/style.css" media="all and (min-width: 30em)" />
-->
  <!--[if (lt IE 9) & (!IEMobile 7)]><link rel="stylesheet" href="../style.css" media="all"><![endif]-->

  <!--<script src="//www.google.com/../js/gweb/analytics/autotrack.js" /></script>-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>


<body id="file_name" class="category_name rayout_pattern">
  <!--[if lt IE 8]><p class="chromeframe">お使いのブラウザはバージョンが古いため、サイトを快適にご利用いただけないかもしれません。特別な事情がなければ <a href="http://browsehappy.com/">ブラウザをアップデート</a>、もしくは、<a href="http://www.google.com/chromeframe/?redirect=true">Google Chrome Frame</a>（パフォーマンスの向上がはかれます）をインストールしてください。セキュリティ的にもサポートの切れた古いブラウザは危険です。常に最新のブラウザをお使いいただくことをおすすめいたします。</p><![endif]-->

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>

  <div id="container">

    <div id="wrapper">


      <div id="main" role="main">


        <article>

          <header class="article_header">
            <h1 class="article_title">リスト & リストマーカー</h1>
          </header>


          <div class="article_body">


            <section>
              <h2>リストマーカーのサンプル(h2)</h2>

              <h3>p要素にリストマーカー(h3)</h3>
              <p>ダミーです私は同年同時にこういう理解通りというはずの末になるだでし。ついに生涯が経過院は同時にこういう理解通りとすこぶるそんな安住なますまでがしてならたからも所有かい摘んうないて、同時にこういう理解通</p>
              <p class="listmarker_a">サンプルです(p)</p>
              <p class="listmarker_b">サンプルです(p)</p>
              <p class="check">サンプルです(p)</p>
              <p class="pdf">サンプルです(p)</p>
              <p class="caution">サンプルです(p)</p>

              <h3>箇条書きリスト 初期設定(h3)</h3>
              <ul>
                <li>項目1(ul>li)
                  <ul>
                    <li>項目1-1(ul>li>ul>li)</li>
                    <li>項目1-2</li>
                    <li>項目1-3</li>
                  </ul>
                </li>
                <li><a href="#">☆項目2 リンク(ul>li>a)</a>
                  <ul>
                    <li><a href="#">項目2-1 リンク(ul>li>ul>li>a)</a></li>
                    <li><a href="#">項目2-2 リンク</a></li>
                    <li><a href="#">項目2-3 リンク</a></li>
                  </ul>
                </li>
                <li>項目3</li>
              </ul>

              <h3>箇条書きリスト リストマーカー変更(h3)</h3>
              <h4>タイプB と タイプA（初期設定）の組み合わせて階層で使用(h4)</h4>
              <p>ul要素やol要素にクラスをつけることで、用途にあったリストマーカーを表示させるようにしました。</p>
              <ul class="listmarker_parent">
                <li>項目1(ul.listmarker_b>li)
                  <ul class="default">
                    <li>項目1-1(ul.parent>li>ul.default>li)</li>
                    <li>項目1-2</li>
                    <li>項目1-3</li>
                  </ul>
                </li>
                <li><a href="#">項目2 リンク(ul>li>a)</a></li>
              </ul>

              <h4>チェック(h4)</h4>
              <ul class="check">
                <li>項目1(ul.check>li)</li>
                <li>項目2</li>
                <li>項目3</li>
              </ul>

              <h4>PDF(h4)</h4>
              <ul class="pdf">
                <li>項目1(ul.pdf>li)</li>
                <li>項目2</li>
                <li>項目3</li>
              </ul>

              <h4>警告(h4)</h4>
              <ul class="caution">
                <li>項目1(ul.caution>li)</li>
                <li>項目2</li>
                <li>項目3</li>
              </ul>

              <h4>関連リスト デフォルト設定(h4)</h4>
              <dl>
                <dt>名前です(dl>dt)</dt>
                <dd>値です(dl>dd)</dd>
                <dd>値です。"dd"は複数個でもO.K.(dl>dd)</dd>
                <dt>名前です(dl>dt)</dt>
                <dd>値です(dl>dd</dd>
              </dl>

              <h4>関連リスト使用 よくある質問(h4)</h4>
              <dl class="faq">
                <dt class="faq_question">質問です(dl>dt.faq_question)</dt>
                <dd class="faq_answer">答えです(dl>dd.faq_answer)</dd>
              </dl>



              <h3>番号リスト(h3)</h3>
              <h4>デフォルト設定</h4>
              <ol>
                <li>項目1(ol>li)</li>
                <li>項目2</li>
                <li>項目3</li>
              </ol>

              <h4>ナンバリングを強調(h4)</h4>
              <ol start="4" class="emphasize">
                <li>項目1(ol>li)</li>
                <li>項目2</li>
                <li>項目3</li>
              </ol>

              <h3>定義リスト(h3)</h3>
              <dl>
                <dt>定義したいキーワード(dl>dt)</dt>
                <dd>上のキーワードの定義1(dl>dd)</dd>
                <dd>上のキーワードの定義2(dl>dd)</dd>
                <dt>定義したいキーワード(dl>dt)</dt>
                <dd>上のキーワードの定義(dl>dd)</dd>
              </dl>
            </section>



            <section>
              <h2>リストと枠記事の組合せ</h2>
              <p>説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。</p>
              <section class="framed_a">
                <h1>よくある質問</h1>
                <p>説明文がここに入ります。説明文がここに入ります。説明文がここに入ります。</p>
                <dl class="faq">
                  <dt class="faq_question">質問です(dl>dt.faq_question)</dt>
                  <dd class="faq_answer">答えです(dl>dd.faq_answer)</dd>
                  <dt class="faq_question">質問です(dl>dt.faq_question)</dt>
                  <dd class="faq_answer">答えです(dl>dd.faq_answer)ダミーです私は同年同時にこういう理解通りというはずの末になるだでし。ついに生涯が経過院は同時にこういう理解通りとすこぶるそんな安住なますまでがしてならたからも所有かい摘んうないて、同時にこういう理解通</dd>
                </dl>
                <h2>注意です</h2>
                <ul class="caution">
                  <li>項目1(ul.caution>li)</li>
                  <li>項目2</li>
                  <li>項目3</li>
                </ul>
                <h1>よくある質問</h1>
                <ul class="check">
                  <li>項目1(ul.check>li)</li>
                  <li>項目2</li>
                  <li>項目3</li>
                </ul>
                <ol start="99">
                  <li>項目1(ol>li)</li>
                  <li>項目2</li>
                  <li>項目3</li>
                </ol>
                <ol start="9" class="emphasize">
                  <li>項目1(ol>li)</li>
                  <li>項目2</li>
                  <li>項目3</li>
                </ol>
              </section>
            </section>


          <!--/.article_body-->
          </div>


        </article>


      <!-- /#main -->
      </div>

    <!-- /#wrapper -->
    </div>


  <!-- /#container -->
  </div>

  <button class="pc_mobile_switch"><i class="icon-display_screen"></i> PC表示に切替え</button>



  <!-- * * * * * * * * * * * * * Scripts * * * * * * * * * * * * * -->
  <!-- ★★本番アップ時は plugins.js に統合する -->
  <!-- ★★より軽量のzepto.js を使う手もある 比較記事：http://openweb.co.jp/2013/01/17/jquery-2-0-size-compared/ -->
  <!-- jQuery1.9で廃止された機能の影響で動かないプラグインなどがある場合は http://code.jquery.com//jquery-migrate-git.min.js を追加-->
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="../js/plugins.js"></script>
  <script src="../js/main.min.js"></script>

  <script>
    //Androidの場合のみ iscroll-lite.js を読みこませる
    if(/Android/.test(navigator.userAgent)){
      $('script').attr('src','../js/vendor/iscroll-lite.js').appendTo('head');
      //alert('テスト：iscroll-lite.jsを読み込みました。');
    }
  </script>


  <!-- * * * Polyfils for old IE * * * -->

  <!--[if IE 9]>
  <script src="../js/vendor/PIE_IE9.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        //$('.class_name').each(function() { PIE.attach(this); }); //★★適用させたい要素を指定
      }
    });
  </script>
  <![endif]-->

  <!--[if (gte IE 6)&(lte IE 8)]>
  <script src="../js/vendor/selectivizr-min.js"></script>
  <script src="../js/vendor/respond.min.js"></script>
  <script src="../js/vendor/PIE_IE678.js"></script>
  <script>
    $(function() {
      if (window.PIE) {
        $('.button, .label, article h2, .pagetop a').each(function() { //★★適用させたい要素を指定
          PIE.attach(this);
        });
      }
    });
  </script>
  <![endif]-->

  <!--[if lte IE 7]>
  <script src="../js/vendor/imgSizer/imgSizer_min.js"></script>
  <script src="../js/vendor/minmax-1.0.min.js"></script>
  <![endif]-->


  <!--[if IE 6]>
  <script src="../js/vendor/jquery.exfixed-1.3.2.js"></script>
  <script>
    $(function(){
      $('#modal_window_boxes .modal_window_window').exFixed(); //★★適用させたい要素を指定
    });
  </script>
  <![endif]-->

</body>
</html>
