<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>ページタイトル - サイトタイトル</title>
</head>


<body>
  <h1>Webページ 基本</h1>
  <ul>
    <li>HTML5, CSS3, SCSS(Sass), jQuery, Modernizr, jquery.tile.js</li>
    <li>レスポンシブデザイン（481px以上 > 480px > 320px）</li>
    <li>旧IE用：selectivizr.js, imgSizer.js, PIE.js, jquery.exfixed.js(position:fixed 不具合解決用)</li>
  </ul>

  <ol>
    <li><a href="template_base.html">文書構造基本</a></li>
    <li><a href="template_button_label_alert.html">ボタン、ラベル、アラート</a></li>
    <li><a href="template_code.html">コード</a></li>
    <li><a href="template_form.html">フォーム</a></li>
    <li><a href="template_framed_article.html">枠に囲まれた記事</a></li>
    <li><a href="template_grid_list_rayout.html">段組レイアウト</a></li>
    <li><a href="template_header.html">見出し（ヘッダー）</a></li>
    <li><a href="template_hr.html">区切り線</a></li>
    <li><a href="template_jquery_plugin.html">基本jQueryプラグイン</a>（モーダルウインドウ、ツールチップ、デバッグ dump、font-awesome）</li>
    <li><a href="template_list.html">リスト</a></li>
    <li><a href="template_mixin_inherit.html">ミックスイン、継承</a></li>
    <li><a href="template_rayout_with_images.html">画像を含むレイアウト</a></li>
    <li><a href="template_responsive_rayout.html">レスポンシブ。グリッド→一列</a></li>
    <li><a href="template_responsive_rayout2.html">レスポンシブ。グリッド→一列2</a></li>
    <li><a href="template_section.html">セクション</a></li>
    <li><a href="template_talbe.html">テーブル</a></li>
    <li><a href="template_text.html">テキスト</a></li>
    <li><a href="font_size_sample.html">フォントサイズ</a></li>
    <li><a href="responsive_switch.html">レスポンシブ無効に</a></li>
  </ol>
</body>

</html>