img {
  max-width: 100% !important;
  height: auto !important;
  width: auto\9;/*IE6-8 but and 9.. :(*/
}
.grid_block {}
.grid_block .cell {
  margin-top: 0;
  margin-bottom: 20px;
  /*padding: 15px 1.5%;//if you want to make margin in each cell, Set padding and subtract (this value x 2 %) from cell width*/
}
.grid_block.float_img .cell h1 {
  word-break: break-all !important;/*not working.. :(*/
}
.grid_block h1 {
  margin-bottom: 0.5em;
  color: #842535;
}
.grid_block.float_img .cell img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: bottom;
}
.grid_block li.cell {
  padding-left: 0;
  list-style: none;
}
/*When using SCSS or LESS, Use Inheritance of clearfix*/
.grid_block,
.grid_block .cell {
  zoom: 1;
}
.grid_block:after,
.grid_block .cell:after {
  content: "";
  display: block;
  clear: both;
}
.grid_block .cell p.img_area {
	margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .grid_block .cell {
    clear: left;
  }
  .grid_block .cell .img_area {
  	float: left;
  	max-width: 40% !important;
  	margin-right: 20px;
  }
  .grid_block .cell .text_area {
    overflow: hidden;
    _zoom: 1;_height: 1%;/*IE6*/
  }
}

@media only screen and (min-width: 481px) {
	.grid_block .cell {
    float: left;
    margin-left: 3%;
	}
  .grid_block .cell .img_area {
  	text-align: center;
  }
	.grid_block.cells2 .cell {width: 48.5%;         width: 48%\9;/*IE6-8 but and 9..*/}
	.grid_block.cells3 .cell {width: 31.333333333%; width: 31%\9;}
	.grid_block.cells4 .cell {width: 22.75%;        width: 21%\9;}

	.grid_block.cells2 .cell:nth-child(2n+1),
	.grid_block.cells3 .cell:nth-child(3n+1),
	.grid_block.cells4 .cell:nth-child(4n+1) {
  	/* clear: left; */
  	margin-left: 0;
}
